@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
    background-color: var(--color-bg-general);
}


@theme {
    --font-sans: "Roboto", sans-serif;
    --font-title: "Roboto Slab", serif;

    --text-h1: 50px;
    --text-h2: 30px;
    --text-h3: 22px;
    --text-h4: 24px;
    --text-h5: 20px;
    --text-h6: 16px;

/* Colores principales de la marca */
--color-primary: #6B0F1A;         /* Antes: --color-burdeos-dark */
--color-primary-light: #A83250;   /* Antes: --color-burdeos-light */
--color-accent-primary: #f2c94c;        /* Antes: --color-mostaza */
--color-accent-primary-light: #FBE8A6;  /* Antes: --color-mostaza-pastel */

/* Colores neutrales / de apoyo */
--color-neutral-warm: #F5F2F0;          /* Antes: --color-gray-warm */
--color-primary-dark: #3C0D12;    /* Antes: --color-burdeos-darker */
}

h1,h2,h3,h4,h5 {
    @apply font-title text-h2/[125%] font-semibold;
}




h6 {
    @apply font-title text-h6/[125%] font-semibold;
}

p {
    @apply font-sans text-base/[150%] font-normal;
}

/* Botones */
.btn-primary {
    @apply bg-accent-primary text-primary-dark font-semibold rounded-full px-6 py-3 shadow-md hover:bg-primary-light transition-all;
}

.btn-secondary {
    @apply bg-primary-dark text-accent-primary-light font-semibold rounded-full px-6 py-3 shadow-md hover:bg-primary-light transition-all;
}

/* Fondos generales */
.bg-general {
    @apply bg-neutral-warm;
}

.bg-secondary {
    @apply bg-accent-primary-light;
}

/* Hover */
.elevation {
    @apply hover:translate-y-[-4px] transition-all shadow-lg;
}

